@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}


input,
select,
textarea {
  outline: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*Medium*/
@media (min-width: 991px) {
  .container {
    width: 950px;
  }
}

/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1370px;
  }
}input,
select,
textarea {
  outline: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*Medium*/
@media (min-width: 991px) {
  .container {
    width: 950px;
  }
}

/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1370px;
  }
}
